@{
	Layout = "~/Views/Admin/_Layout.cshtml";
}

@model Wlq.Domain.GroupInfo

<h4 class="form-tt">组织管理</h4>
<div class="formbody">
@using (Html.BeginForm("SaveGroup", "Admin", FormMethod.Post, new { id = "admin_save_group_form" }))
{
	<ul>
		<li>
			<label>所属部门：</label>
			<label>@ViewBag.ParentGroupName</label>
		</li>
		<li>
			<label>组织名称：</label>
			@Html.TextBoxFor(x => x.Name, new { @class = "input-2" })
		</li>
		<li>
			<label>联系电话：</label>
			@Html.TextBoxFor(x => x.Phone, new { @class = "input-2" })
		</li>
		<li>
			<label>邮箱地址：</label>
			@Html.TextBoxFor(x => x.Email, new { @class = "input-2" })
		</li>
		<li>
			<label>工作时间：</label>
			@Html.TextBoxFor(x => x.WorkTime, new { @class = "input-2" })
		</li>
		<li>
			<label>联系地址：</label>
			@Html.TextBoxFor(x => x.Address, new { @class = "input-1" })
		</li>
		<li>
			<label>简　　介：</label>
			@Html.TextBoxFor(x => x.Introduction, new { @class = "input-1" })
		</li>
		<li>
			<label>健康生活：</label>
			@Html.CheckBoxFor(x => x.IsHealth)<font style="color:Gray; font-size:small;">发布的信息出现在健康生活版块</font>
		</li>
		<li>
			<label>头　　像：</label>
			<input id="logo_uploader" name="logo_uploader" type="file" onchange="upload_file('logo');" /><br />
		@if (string.IsNullOrWhiteSpace(Model.Logo))
		{
			<img id="logo_img" class="group_logo" src="/Content/images/other/ico-1.png" alt="logo" />
		}
		else
		{
			<img id="logo_img" class="group_logo" src='@string.Format("/upload/group/{0}/logo{1}", Model.Id, Model.Logo)' alt="logo" />
		}
		</li>
	</ul>
	<input name="Id" type="hidden" value="@Model.Id" />
	<input name="ParentGroupId" type="hidden" value="@Model.ParentGroupId" />
	<input id="logo_hidden" name="Logo" type="hidden" value="@Model.Logo" />
	<a id="save_group" href="javascript:;" class="btn-3">保　存</a>
	<a href="@Url.Action("GroupManagement", "Admin")" class="btn-3">返　回</a>
}
</div>
<div class="formfooter"></div>

@section scripts
{
	<script src="@Url.Content("~/Content/js/ajaxfileupload.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			selected_left_menu(2);
		});

		$("#save_group").bind("click", function () {
			$("#admin_save_group_form").submit();
		});
	</script>
}