@{
	Layout = "~/Views/Admin/_Layout.cshtml";
}

@model Wlq.Web.Models.AdminIndexModel

<div class="indextab">
	<ul class="clearfix">
		@*<li><a href="/Admin/GroupManagement" class="tab-4">组织管理</a></li>
		<li><a href="/Admin/PostManagement" class="tab-2">发布管理</a></li>*@
		<li><a href="/User/Register" class="tab-1">人工开卡</a>
		<li><a href="/Admin/SigninBooking?managerId=@ViewBag.ManagerId" class="tab-3">签到</a></li>
		<li><a href="@Url.Action("UserManagement", "Admin")" class="tab-5">用户查询</a></li>
	</ul>
</div>
<div class="clearfix indexlistbody">
	<dl class="indexlistbox">
		<dt>最新活动信息</dt>
		<dd>
			<ul>
			@foreach (var item in Model.ActivityList)
			{
				<li>
					<span>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.PublishTime)</span>
					<a href="/Home/Post/@item.Id" target="_blank">@item.Title</a>
				</li>
			}	
			</ul>
		</dd>
	</dl>
	<dl class="indexlistbox">
		<dt>最新课程信息</dt>
		<dd>
			<ul>
			@foreach (var item in Model.CourseList)
			{
				<li>
					<span>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.PublishTime)</span>
					<a href="/Home/Post/@item.Id" target="_blank">@item.Title</a>
				</li>
			}	
			</ul>
		</dd>
	</dl>
	<dl class="indexlistbox">
		<dt>最新场地信息</dt>
		<dd>
			<ul>
			@foreach (var item in Model.VenueList)
			{
				<li>
					<span>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.PublishTime)</span>
					<a href="/Home/Post/@item.Id" target="_blank">@item.Title</a>
				</li>
			}	
			</ul>
		</dd>
	</dl>
	@*<dl class="indexlistbox">
		<dt>其他</dt>
		<dd>
			<ul></ul>
		</dd>
	</dl>*@
</div>

@section scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
			selected_left_menu(0);
		});
	</script>
}