@{
	Layout = "~/Views/Admin/_Layout.cshtml";
}

@using Hanger.Utility;
@using Wlq.Domain;

@model IEnumerable<Wlq.Web.Models.AdminPostBookerModel>

<h4 class="form-tt">预约列表</h4>
<div class="formbody">
	<div id="booker_list" class="quanxian-tt">
		<table class='list-tbl'>
			<thead>
				<tr>
					<th>姓名</th>
					<th>联系方式</th>
					<th>参与方式</th>
					<th>预约日期</th>
					<th>是否签到</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Booking.Name</td>
					<td>@item.Booking.Mobile</td>
					<td>@EnumHelper.GetDescription((InvolvedType)item.Booking.InvolvedType)</td>
					<td>
						@string.Format("{0:yyyy-MM-dd}", item.Booking.BookingDate)
					@if (item.Booking.VenueConfigId > 0 && item.VenueConfig != null)
					{
						<span>@string.Format("({0}:00-{1}:00)", item.VenueConfig.BegenTime / 100, item.VenueConfig.EndTime / 100)</span> 
					}
					</td>
					<td>@string.Format("{0}", item.Booking.IsPresent ? "是" : "否")</td>
				</tr>
			}
			</tbody>
		</table>
	</div>

	<div id="pager" class="page">
		第 <span id="currentPage">@ViewBag.PageIndex</span> / <span id="totalPage">@ViewBag.TotalPage</span> 页 &nbsp;&nbsp;
		<a class="pre" id="previous" href="javascript:;">上一页</a>
		<a class="next" id="next" href="javascript:;">下一页</a>
	</div>
</div>
<div class="formfooter"></div>

@section scripts
{
	<script type="text/javascript">
		var pageIndex = @ViewBag.PageIndex;
		var totalPage = @ViewBag.TotalPage;
		var pageUrl = "/Admin/PostBookers/" + @ViewBag.PostId;

		$(document).ready(function () {
			selected_left_menu(3);

			$("#pager").show();

			if (pageIndex <= 1) {
				pageIndex = 1;
				$("#previous").hide();
			}

			if (pageIndex >= totalPage) {
				pageIndex = totalPage;
				$("#next").hide();
			}
		});

		$("#previous").bind("click", function () {
			var newPage = pageIndex - 1;
			window.location = pageUrl + "?pageIndex=" + newPage;
		});

		$("#next").bind("click", function () {
			var newPage = pageIndex + 1;
			window.location = pageUrl + "?pageIndex=" + newPage;
		});

	</script>
}