@{
	Layout = "~/Views/Admin/_Layout.cshtml";
}

@using Hanger.Utility;
@using Wlq.Domain;
@using Wlq.Web.Extensions;
@using Wlq.Web.Models;

@model AdminVenueGroupModel

<h4 id="h4_title" class="form-tt">周期活动配置</h4>
<div class="formbody">
@using (Html.BeginForm("SaveVenueGroup", "Admin", FormMethod.Post, new { id = "admin_save_venuegroup_form" }))
{
	<ul>
		<li>
			<label>名　　称：</label>
			<input class="input-2" id="venuegroupName" name="Name" type="text" value="@Model.VenueGroup.Name" />
		</li>
		<li>
			<label>所属组织：</label>
			<select name="GroupId" class="select-2">
		@if (Model.Groups.Count() > 0)
		{
			foreach (var group in Model.Groups)
			{
				<option value="@group.Id" @Html.IsSelected(group.Id == Model.VenueGroup.GroupId)>@group.Name</option>
			}
		}
		else
		{
				<option value="0">无</option>
		}
			</select>
		</li>
		<li>
			<label>类　　型：</label>
			<select id="postType_selector" name="PostType" class="select-2">
				<option value="1" @Html.IsSelected(Model.VenueGroup.PostType == (int)PostType.Activity)>@EnumHelper.GetDescription(PostType.Activity)</option>
				<option value="2" @Html.IsSelected(Model.VenueGroup.PostType == (int)PostType.Course)>@EnumHelper.GetDescription(PostType.Course)</option>
				<option value="3" @Html.IsSelected(Model.VenueGroup.PostType == (int)PostType.Venue)>@EnumHelper.GetDescription(PostType.Venue)</option>
			</select>
		</li>
		<li id="li_VenueType">
			<label>场馆类型：</label>
			<select name="VenueType" class="select-1">
				<option value="1" @Html.IsSelected(Model.VenueGroup.VenueType == (int)VenueType.Sports)>@EnumHelper.GetDescription(VenueType.Sports)</option>
				<option value="2" @Html.IsSelected(Model.VenueGroup.VenueType == (int)VenueType.Cultural)>@EnumHelper.GetDescription(VenueType.Cultural)</option>
				<option value="3" @Html.IsSelected(Model.VenueGroup.VenueType == (int)VenueType.Education)>@EnumHelper.GetDescription(VenueType.Education)</option>
			</select>
		</li>
		<li>
			<label>电　　话：</label>
			<input class="input-2" name="Phone" type="text" value="@Model.VenueGroup.Phone" />
		</li>
		<li>
			<label>地　　址：</label>
			<input class="input-1" name="Address" type="text" value="@Model.VenueGroup.Address" />
		</li>
	</ul>
	
	<input name="Id" type="hidden" value="@Model.VenueGroup.Id" />
}
	<a id="save_venuegroup" href="javascript:;" class="btn-3">保　存</a>
	<a href="@Url.Action("VenueManagement", "Admin")" class="btn-3">返　回</a>

@if (Model.VenueGroup.Id > 0 && Model.Venues != null)
{
	<a id="add_button" href='@string.Format("/Admin/Venue/0?venueGroupId={0}", Model.VenueGroup.Id)' class="btn-3">新增子项</a>
	
	<table class='list-tbl'>
		<thead>
			<tr>
				<th>名称</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		@foreach (var venue in Model.Venues)
		{
			<tr id="@string.Format("venue_{0}", venue.Id)">
				<td>@venue.Name</td>
				<td>
					<a href='@string.Format("/Admin/Venue/{0}?venueGroupId={1}", venue.Id, Model.VenueGroup.Id)'>编辑</a>&nbsp;&nbsp;
				@if (venue.IsSuspend) 
				{ 
					<a id='venue-suspend-@venue.Id' href='javascript:;' onclick='suspend_venue(@venue.Id, false);'>启用</a>
				}
				else
				{	
					<a id='venue-suspend-@venue.Id' href='javascript:;' onclick='suspend_venue(@venue.Id, true);'>停用</a>
				}
					&nbsp;&nbsp;<a href='javascript:;' onclick='remove_venue(@venue.Id);'>删除</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}
</div>
<div class="formfooter"></div>
@section scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
			selected_left_menu(5);

			show_venueType();
		});

		$("#save_venuegroup").bind("click", function () {
			if ($.trim($("#venuegroupName").val()) == '') {
				alert("名称不可为空");
				return false;
			}
			else {
				$("#admin_save_venuegroup_form").submit();
			}
		});

		function remove_venue(venueId) {
			if (!confirm("确定删除?"))
				return false;

			$.ajax({
				type: "POST",
				dataType: 'json',
				url: "/Admin/RemoveVenue",
				data: {
					'venueId': venueId
				},
				success: function (r, status) {
					if (r.Success) {
						alert("删除成功");
						$('#venue_' + venueId).remove();
					}
					else {
						alert("删除失败");
					}
				}
			});
		}

		function suspend_venue(venueId, suspend) {
			if (!confirm("确定" + (suspend ? "停用" : "启用") + "?"))
				return false;

			$.ajax({
				type: "POST",
				dataType: 'json',
				url: "/Admin/SuspendVenue",
				data: {
					'venueId': venueId,
					'suspend': suspend
				},
				success: function (r, status) {
					if (r.Success) {
						alert("操作成功");
						$('#venue-suspend-' + venueId).text(!suspend ? "停用" : "启用");
						$('#venue-suspend-' + venueId).attr('onclick', 'suspend_venue(' + venueId + ', ' + !suspend + ');');
					}
					else {
						alert("操作失败");
					}
				}
			});
		}

		$("#postType_selector").bind("change", function () {
			show_venueType();
		});

		function show_venueType() {
			var postType = $("#postType_selector").val();

			if (postType == 3) {
				$("#h4_title").text("场馆配置");
				$("#add_button").text("新增场地");
				$("#li_VenueType").show();
			}
			else {
				$("#h4_title").text("周期活动配置");
				$("#add_button").text("新增周期活动");
				$("#li_VenueType").hide();
			}
		}
	</script>
}