@{
	Layout = "~/Views/Admin/_Layout.cshtml";
}

@model Wlq.Domain.VenueInfo

<h4 class="form-tt">场地配置</h4>
<div class="formbody">
@using (Html.BeginForm("SaveVenue", "Admin", FormMethod.Post, new { id = "admin_save_venue_form" }))
{
	<ul>
		<li><label>所属部门或组织：</label><label>@ViewBag.GroupName</label></li>
		<li><label>场地名称：</label><input class="input-2" id="venueName" name="Name" type="text" value="@Model.Name" /></li>
		<li><label>场地地址：</label><input class="input-1" name="Address" type="text" value="@Model.Address" /></li>
		<li>
			<label>时段配置：</label>
			<select id="days_of_week" class="select-2">
				<option value="Sunday">星期天</option>
				<option value="Monday">星期一</option>
				<option value="Tuesday">星期二</option>
				<option value="Wednesday">星期三</option>
				<option value="Thursday">星期四</option>
				<option value="Friday">星期五</option>
				<option value="Saturday">星期六</option>
			</select>
			<select id="begin_time" class="select-3">
				<option value="0">00:00</option>
				<option value="1">01:00</option>
				<option value="2">02:00</option>
				<option value="3">03:00</option>
				<option value="4">04:00</option>
				<option value="5">05:00</option>
				<option value="6">06:00</option>
				<option value="7">07:00</option>
				<option value="8">08:00</option>
				<option value="9">09:00</option>
				<option value="10">10:00</option>
				<option value="11">11:00</option>
				<option value="12">12:00</option>
				<option value="13">13:00</option>
				<option value="14">14:00</option>
				<option value="15">15:00</option>
				<option value="16">16:00</option>
				<option value="17">17:00</option>
				<option value="18">18:00</option>
				<option value="19">19:00</option>
				<option value="20">20:00</option>
				<option value="21">21:00</option>
				<option value="22">22:00</option>
				<option value="23">23:00</option>
			</select>
			<label>至</label>
			<select id="end_time" class="select-3">
				<option value="0">00:00</option>
				<option value="1">01:00</option>
				<option value="2">02:00</option>
				<option value="3">03:00</option>
				<option value="4">04:00</option>
				<option value="5">05:00</option>
				<option value="6">06:00</option>
				<option value="7">07:00</option>
				<option value="8">08:00</option>
				<option value="9">09:00</option>
				<option value="10">10:00</option>
				<option value="11">11:00</option>
				<option value="12">12:00</option>
				<option value="13">13:00</option>
				<option value="14">14:00</option>
				<option value="15">15:00</option>
				<option value="16">16:00</option>
				<option value="17">17:00</option>
				<option value="18">18:00</option>
				<option value="19">19:00</option>
				<option value="20">20:00</option>
				<option value="21">21:00</option>
				<option value="22">22:00</option>
				<option value="23">23:00</option>
			</select>
			限制人数：<input class="input-3" id="limit_number" type="text" value="1" />
			<a id="add_period" href="javascript:;">添加</a>
		</li>
		<li>
			<ul id="ul_configs" class="configs"></ul>
		</li>
	</ul>
	
	<input name="Id" type="hidden" value="@Model.Id" />
	<input name="GroupId" type="hidden" value="@Model.GroupId" />
	<input id="config_hidden" name="config" type="hidden" />
	<a id="save_venue" href="javascript:;" class="btn-3">保　存</a>
	<a href="/Admin/VenueManagement" class="btn-3">返　回</a>
}
</div>
<div class="formfooter"></div>

@section scripts
{
	<script type="text/javascript">
		var venueConfig = @Html.Raw(ViewBag.VenueConfig);

		$(document).ready(function () {
			selected_left_menu(4);
			show_config();
		});

		$("#save_venue").bind("click", function () {
			if ($.trim($("#venueName").val()) == '') {
				alert("场地名称不可为空");
				return false;
			}
			else {
				$("#config_hidden").val(JSON.stringify(venueConfig));
				$("#admin_save_venue_form").submit();
			}
		});

		$("#add_period").bind("click", function () {
			var daysOfWeek = $("#days_of_week").val();
			var beginTime = $("#begin_time").val() * 100;
			var endTime = $("#end_time").val() * 100;
			var limit = parseInt($("#limit_number").val());

			if (beginTime >= endTime) {
				alert("结束时间须大于开始时间");
				return false;
			}

			if(isNaN(limit) || limit <= 0) {
				alert("限制人数须为大于0整数");
				return false;
			}
			
			for (var i = 0; i < venueConfig[daysOfWeek].length; i++) {
				if (!(beginTime >= venueConfig[daysOfWeek][i].EndTime 
					|| endTime <= venueConfig[daysOfWeek][i].BeginTime)) {
					alert("时段重叠，请重新添加");
					return false;
				}
			}

			venueConfig[daysOfWeek].push({"BeginTime":beginTime, "EndTime":endTime, "LimitNumber":limit, "BookingNumber":0, "VenueConfigId":0 });

			show_config();
		});

		function show_config() {
			var week = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
			var ul_configs = $("#ul_configs").empty();

			for (var i = 0; i < week.length; i++) {
				var periods = [];

				for (var j = 0; j < venueConfig[week[i]].length; j++) {
					var begin = venueConfig[week[i]][j].BeginTime / 100;
					var end = venueConfig[week[i]][j].EndTime / 100;
					var limit = venueConfig[week[i]][j].LimitNumber;

					periods.push(begin + ":00 - " + end + ":00 (人数：" + limit + ") <a href='javascript:delete_config(\"" + week[i] + "\"," + begin + "," + end + ")'>删除</a>");
				}

				ul_configs.append("<li>" + get_day_of_week(week[i]) + ": " + periods.join(', ') + "</li>");
			}
		}

		function delete_config(daysOfWeek, begin, end) {
			for (var i = 0; i < venueConfig[daysOfWeek].length; i++) {
				if(venueConfig[daysOfWeek][i].BeginTime == begin * 100 && venueConfig[daysOfWeek][i].EndTime == end * 100) {
					venueConfig[daysOfWeek].splice(i, 1);
					show_config();
					break;
				}
			}
		}

	</script>
}