@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Wlq.Domain;
@using Wlq.Web.Models;
@model IEnumerable<PostModel>

@if ((PostType)ViewBag.PostType == PostType.All)
{
<div class="bannerbox">
	<img src="/content/images/other/banner-1.jpg" alt="banner" />
</div>
}
<h3 class="r-box-title">
@switch ((PostType)ViewBag.PostType)
{
	case PostType.All:
	<img src="/content/images/common/title-3.jpg" alt="title" />
		break;
	case PostType.Activity:
	<img src="/content/images/common/title-3.jpg" alt="title" />
		break;
	case PostType.Venue:
	<img src="/content/images/common/title-4.jpg" alt="title" />
		break;
	case PostType.Course:
	<img src="/content/images/common/title-12.jpg" alt="title" />
		break;
	default:
		break;
}
</h3>
<div class="indexlist">
@foreach (var item in Model)
{
	if (item.Group != null && item.Post != null)
	{
		Html.RenderPartial("_PostItem", item);
	}
}
	<div class="page">
		第 @ViewBag.PageIndex / @ViewBag.TotalPage 页 
		<a id="previous" href="javascript:;">上一页</a>
		<a id="next" href="javascript:;">下一页</a>
		<input id="pager_index" type="text" />
		<a id="pager_redirect" href="javascript:;">跳转</a>
	</div>
</div>

@section scripts
{
	<script type="text/javascript">
		pageIndex = @ViewBag.PageIndex;
		totalPage = @ViewBag.TotalPage;
		pageUrl = '/Home/Index?postType=@ViewBag.PostType&';

		$(document).ready(function () {
			var postType = '@ViewBag.PostType';
			switch (postType) {
				case 'All':
					selected_left_menu(0);
					break;
				case 'Health':
					selected_left_menu(1);
					break;
				case 'Activity':
					selected_left_menu(2);
					break;
				case 'Venue':
					selected_left_menu(3);
					break;
				case 'Course':
					selected_left_menu(4);
					break;
				default:
					break;
			}
		});

	</script>
}