@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Wlq.Domain;
@using Wlq.Web.Models;
@model IEnumerable<PostModel>

@if ((PostType)ViewBag.PostType == PostType.All)
{
<div class="bannerbox">
	<img src="/content/images/other/banner-1.jpg" alt="banner" />
</div>
}
<h3 class="r-box-title">
@switch ((PostType)ViewBag.PostType)
{
	case PostType.All:
	<img src="/content/images/common/title-3.jpg" alt="title" />
		break;
	case PostType.Activity:
	<img src="/content/images/common/title-3.jpg" alt="title" />
		break;
	case PostType.Venue:
	<img src="/content/images/common/title-4.jpg" alt="title" />
		break;
	case PostType.Course:
	<img src="/content/images/common/title-12.jpg" alt="title" />
		break;
	default:
		break;
}
</h3>
<div class="indexlist">
@foreach (var item in Model)
{
	if(item.Group != null && item.Post != null)
	{
	<div class="mainbox clearfix">
		<a href="/Home/Group/@item.Group.Id" class="leftico">
		@if(string.IsNullOrWhiteSpace(item.Group.Logo))
		{
			<img src="/content/images/other/ico-1.png" alt="logo" />
		}
		else
		{
			<img src="@String.Format("/upload/group/{0}/logo{1}", item.Group.Id, item.Group.Logo)" alt="logo" />
		}
			@item.Group.Name
		</a>
		<div class="mainbox-r">
		@switch ((PostType)item.Post.PostType)
		{
			case PostType.Activity:
			<span class="flag-1"></span>
				break;
			case PostType.Venue:
			<span class="flag-2"></span>
				break;
			case PostType.Course:
			<span class="flag-3"></span>
				break;
			default:
				break;
		}
			<p class="time">@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.Post.LastModified)</p>
			<h3><a href="/Home/Post/@item.Post.Id">@item.Post.Title</a></h3>
			<p class="mainbox-txt">
				@Html.Raw(item.Post.Content)	
			</p>
			<div class="post-img-box">
			@if (!string.IsNullOrWhiteSpace(item.Post.Image))
			{
				<img src='@string.Format("/upload/group/{0}/{1}{2}", item.Post.GroupId, item.Post.Id, item.Post.Image)' alt="post" />
			}
			</div>
			<div class="order">
			@if (ViewBag.CurrentUserId > 0 && item.Post.PostType != (int)PostType.Venue)
			{
				if (!item.IsBooked)
				{
				<a id='@string.Format("btn_booking_{0}", item.Post.Id)' href="javascript:;" onclick="normal_booking(@item.Post.Id)" class="btn">预 约</a>
				}
				else
				{
				<a id='@string.Format("btn_booking_{0}", item.Post.Id)' href="javascript:;" onclick="normal_cancel_booking(@item.Post.Id)" class="btn-disable">取消预约</a>
				}
			}
				已预约<strong id='@string.Format("booking_number_{0}", item.Post.Id)'>@item.Post.BookingNumber</strong>人
			</div>
			<div class="mainbox-b"></div>
		</div>
	</div>
	}
}
	<div class="page">
		第 @ViewBag.PageIndex / @ViewBag.TotalPage 页 
		<a id="previous" href="javascript:;">上一页</a>
		<a id="next" href="javascript:;">下一页</a>
		<input id="pager_index" type="text" />
		<a id="pager_redirect" href="javascript:;">跳转</a>
	</div>
</div>

@section scripts
{
	<script type="text/javascript">
		pageIndex = @ViewBag.PageIndex;
		totalPage = @ViewBag.TotalPage;
		pageUrl = '/Home/Index?postType=@ViewBag.PostType&';

		$(document).ready(function () {
			var postType = '@ViewBag.PostType';
			switch (postType) {
				case 'All':
					selected_left_menu(0);
					break;
				case 'Health':
					selected_left_menu(1);
					break;
				case 'Activity':
					selected_left_menu(2);
					break;
				case 'Venue':
					selected_left_menu(3);
					break;
				case 'Course':
					selected_left_menu(4);
					break;
				default:
					break;
			}
		});

	</script>
}