@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Hanger.Utility;
@using Wlq.Domain;
@using Wlq.Web.Models;

@model PostModel

<h3 class="righttitle-2"><img src="/content/images/common/title-6.jpg" alt="title" /></h3>
<div class="box640">
	<div><img src="/content/images/common/box640-t.jpg" alt="boxtop" /></div>
	<div class="dt-detail clearfix">
		<div class="dt-detail-topl">
			<a href="/Home/Group/@Model.Group.Id" class="leftico">
			@if (string.IsNullOrWhiteSpace(Model.Group.Logo))
			{
				<img src="/content/images/other/ico-1.png" alt="logo" />
			}
			else
			{
				<img src="@String.Format("/upload/group/{0}/logo{1}", Model.Group.Id, Model.Group.Logo)" alt="logo" />
			}
		</a>
			<h4>@Model.Group.Name</h4>
	@if (ViewBag.CurrentUserId > 0)
	{
		if (!ViewBag.IsFollowing)
		{
			<a id='@string.Format("btn_group_{0}", @Model.Group.Id)' href="javascript:;" class="btn-gz" onclick="join_group(@Model.Group.Id)"></a>
		}
		else
		{
			<a id='@string.Format("btn_group_{0}", @Model.Group.Id)' href="javascript:;" class="qxgz" onclick="quit_group(@Model.Group.Id)"></a>
		}
	}
	else
	{
			<a href="javascript:alert('请先登录');" class="btn-gz"></a>
	}
		</div>
		<p class="dt-detail-topr">【发布时间：@string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.Post.PublishTime)】</p>
		<div>
			<div class="clear detailtxt-box">
				<h3>
					@Model.Post.Title
				@if (Model.Post.VenueGroupId == 0 && ((BookingType)Model.Post.BookingTypes & BookingType.Phone) != BookingType.Phone)
				{
					<p>
						已预约<strong id='@string.Format("booking_number_{0}", Model.Post.Id)'>@Model.Post.BookingNumber</strong>人,
						还可预约<strong id='@string.Format("booking_number_left_{0}", Model.Post.Id)'>@string.Format("{0}", Model.Post.LimitNumber - Model.Post.BookingNumber)</strong>人
					</p>
				}
				</h3>
				<p>
					@Html.Raw(Model.Post.Content)
					<br /><br />
				@if (!string.IsNullOrWhiteSpace(Model.Post.Image))
				{
					<div class="detailimgbox">
						<img src='@string.Format("/upload/group/{0}/{1}{2}", Model.Post.GroupId, Model.Post.Id, Model.Post.Image)' alt="post" />
					</div>
				}
					<span>联系电话：@Model.Post.Phone</span><br />
					<span>活动地址：@Model.Post.Address</span><br />
				@if(!Model.Post.IsLongterm)
				{
					<span>起止日期：@string.Format("{0:yyyy-MM-dd}", Model.Post.BeginDate) 至 @string.Format("{0:yyyy-MM-dd}", Model.Post.EndDate)</span><br />
				}
				@if (Model.Post.VenueGroupId == 0) 
				{
					<span>限定人数：@Model.Post.LimitNumber</span><br />
					<span>
						参与形式：
					@if (((InvolvedType)Model.Post.InvolvedTypes & InvolvedType.Observer) == InvolvedType.Observer)
					{
						<input type="radio" name="involvedType" value="1" /> @EnumHelper.GetDescription(InvolvedType.Observer)
					}
					@if (((InvolvedType)Model.Post.InvolvedTypes & InvolvedType.Participant) == InvolvedType.Participant)
					{
						<input type="radio" name="involvedType" value="2" /> @EnumHelper.GetDescription(InvolvedType.Participant)
					}
					@if (((InvolvedType)Model.Post.InvolvedTypes & InvolvedType.Volunteer) == InvolvedType.Volunteer)
					{
						<input type="radio" name="involvedType" value="4" /> @EnumHelper.GetDescription(InvolvedType.Volunteer)
					}
					</span><br />
				}
					<br />
				@if (((BookingType)Model.Post.BookingTypes & BookingType.Phone) == BookingType.Phone)
				{
					<span>联系电话(电话预约)：@Model.Post.PhoneBookingNumber</span><br />
					<span>工作时间(电话预约)：@Model.Post.PhoneBookingTime</span><br />
				}
				@if (((BookingType)Model.Post.BookingTypes & BookingType.Spot) == BookingType.Spot)
				{
					<span>确认电话(现场确认)：@Model.Post.SpotBookingNumber</span><br />
					<span>截止时间(现场确认)：@Model.Post.SpotBookingTime</span><br />
					<span>确认地址(现场确认)：@Model.Post.SpotBookingAddress</span><br />
				}
				</p>
			
			@if (Model.Venues != null && Model.Venues.Count() > 0)
			{
				<div class="booking_tab">
					<ul id="tab_menu" class="tab_menu">
						<li id="li-venue-@Model.Venues.First().Id" class="current" phone="@Model.Venues.First().Phone" address="@Model.Venues.First().Address" value="@Model.Venues.First().Id">@Model.Venues.First().Name</li>
					@foreach (var venue in Model.Venues.Skip(1))
					{
						<li id="li-venue-@venue.Id" phone="@venue.Phone" address="@venue.Address" value="@venue.Id">@venue.Name</li>
					}
					</ul>
	
					<div class="tab_wrapper">
						<div class="tab_content">
							联系电话:<span id="venue_phone"></span><br />
							场地地址:<span id="venue_address"></span><br />
						</div>
						<div id="booking_table" class="tab_content"></div>
					</div>
				</div>
			}   
				<div class="btnbox">
			@if (ViewBag.CurrentUserId > 0)
			{
				if (Model.Post.VenueGroupId == 0 && ((BookingType)Model.Post.BookingTypes & BookingType.Phone) != BookingType.Phone)
				{
					if (!Model.IsBooked)
					{
					<a id='@string.Format("btn_booking_{0}", Model.Post.Id)' href="javascript:;" onclick="booking_confirm(@Model.Post.Id)" class="btn">预 约</a>
					}
					else
					{
					<a id='@string.Format("btn_booking_{0}", Model.Post.Id)' href="javascript:;" onclick="normal_cancel_booking(@Model.Post.Id)" class="btn-disable">取消预约</a>
					}
				}
				if (!Model.IsConcerned)
				{
					<a id='@string.Format("btn_post_{0}", Model.Post.Id)' href="javascript:;" onclick="concern_post(@Model.Post.Id)" class="btn">关 注</a>
				}
				else
				{
					<a id='@string.Format("btn_post_{0}", Model.Post.Id)' href="javascript:;" onclick="unconcern_post(@Model.Post.Id)" class="btn-disable">取消关注</a>
				}
			}
				</div>
			</div>
		</div>
	</div>
	<div class="box640-bottom"><img src="/content/images/common/box640-b.jpg" alt="boxbottom" /></div>
</div>

<div id="popup" class="popup">
	<div class="title">
		安全管理须知
		<span><a id="close" class="close" href="javascript:;">x</a></span>
	</div>
	<div class="content">
		@Html.Raw(Model.Post.Remark)
	</div>
	<div class="bottom">
		<input id="chk_remark_confirm" type="checkbox" /><font>我同意</font>
		<a id="btn_remark_confirm" href="javascript:;" class="btn-3">确 定</a>
	</div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Content/js/venue-booking.js")" type="text/javascript"></script>
	<script type="text/javascript">
		var postId = @Model.Post.Id;
		var phoneBooking = @Html.Raw((((BookingType)Model.Post.BookingTypes & BookingType.Phone) == BookingType.Phone).ToString().ToLower());

		$(function () {
			var $tabs = $("#tab_menu li");

			$tabs.click(function () {
				var index = $tabs.index($(this));
				var currentTab = $($tabs.get(index));

				$tabs.removeClass("current");
				currentTab.addClass("current");

				var venueId = currentTab.val();

				$.post(
					'/Common/GetBookingSchedules',
					{
						'postId': postId, 
						'venueId': venueId
					}, 
					function (data) {
						GetBookingTable(venueId, data);
					}
				);

				return false;
			});

			$('input:radio[name=involvedType]').first().prop('checked', true);

			GetBookingTable(@ViewBag.VenueId, @Html.Raw(ViewBag.Schedules));
		});

		function GetBookingTable(vanueId, schedules) {
			var tab = $("#li-venue-" + vanueId);
			
			if(tab) {
				$("#venue_phone").text(tab.attr("phone"));
				$("#venue_address").text(tab.attr("address"));
			}

			if (schedules.length) {
				$('#booking_table').booking(schedules, postId);

				$('#booking_table .on, #booking_table .already').bind('click', function () {
					if(phoneBooking) {
						alert('该信息只可电话预约');
						return;
					}

					var method = $(this).attr('IsBooked');
					if (method == 'false') {
						var offsetTop = $(this).offset().top - 500;
						
						$("#popup").css("top", offsetTop + "px");
						$("#popup").show();
						$("#chk_remark_confirm").attr("checked", false);
						$("#btn_remark_confirm").attr("onclick", "venue_booking(" + vanueId + ", '" + $(this).attr('id') + "')");
					}
					else {
						venue_booking(vanueId, $(this).attr('id'));
					}
				});
			}
		}

		function venue_booking(vanueId, vcId) {
			var method = $('#'+ vcId).attr('IsBooked');

			if (method == 'false') {
				if (!$("#chk_remark_confirm").attr("checked")) {
					alert('请勾选同意安全管理须知');
					return;
				}
			}

			var period_start = parseInt($('#'+ vcId).parent().children('th').text().substring(0, 2))
			var period = period_start + ":00 - " + (period_start + parseInt($('#'+ vcId).attr('rowspan'))) + ":00";
			var info = "场地信息：" + $('#'+ vcId).attr('Date') + " " + period + "\n\n" + ((method == 'false') ? "确认预订？" : "确认取消预订？");
			var url = (method == 'false') ? '/Common/Booking' : '/Common/CancelBooking';

			if (!confirm(info)) {
				return;
			}
			else {
				$("#popup").hide();

				$.post(
					url,
					{
						'postId': postId,
						'venueId': vanueId,
						'venueConfigId': $('#'+ vcId).attr('VenueConfigId'),
						'bookingDate': $('#'+ vcId).attr('Date')
					}, 
					function (data) {
						if (!data['Success'])
							alert(data['Message']);
						else if (method == 'false'){
							$('#'+ vcId).removeClass().addClass('already');
							$('#'+ vcId).text('取消预订');
							$('#'+ vcId).attr('IsBooked', 'true');
						}
						else if (method == 'true'){
							$('#'+ vcId).removeClass().addClass('on');
							$('#'+ vcId).text('预订');
							$('#'+ vcId).attr('IsBooked', 'false');
						}
					}
				);
			}
		}
	</script>
}