@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Wlq.Domain;
@using Wlq.Web.Models;

@model PostModel

<h3 class="righttitle-2"><img src="/content/images/common/title-6.jpg" alt="title" /></h3>
<div class="box640">
	<div><img src="/content/images/common/box640-t.jpg" alt="boxtop" /></div>
	<div class="dt-detail clearfix">
		<div class="dt-detail-topl">
			<a href="/Home/Group/@Model.Group.Id" class="leftico">
			@if (string.IsNullOrWhiteSpace(Model.Group.Logo))
			{
				<img src="/content/images/other/ico-1.png" alt="logo" />
			}
			else
			{
				<img src="@String.Format("/upload/group/{0}/logo{1}", Model.Group.Id, Model.Group.Logo)" alt="logo" />
			}
		</a>
			<h4>@Model.Group.Name</h4>
	@if (ViewBag.CurrentUserId > 0)
	{
		if (!ViewBag.IsFollowing)
		{
			<a id='@string.Format("btn_group_{0}", @Model.Group.Id)' href="javascript:;" class="btn-gz" onclick="join_group(@Model.Group.Id)"></a>
		}
		else
		{
			<a id='@string.Format("btn_group_{0}", @Model.Group.Id)' href="javascript:;" class="qxgz" onclick="quit_group(@Model.Group.Id)"></a>
		}
	}
	else
	{
			<a href="javascript:alert('请先登录');" class="btn-gz"></a>
	}
		</div>
		<p class="dt-detail-topr">【发布时间：@string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.Post.PublishTime)】</p>
		<div>
			<div class="clear detailtxt-box">
				<h3>
					@Model.Post.Title
					<p>已预约<strong id='@string.Format("booking_number_{0}", Model.Post.Id)'>@Model.Post.BookingNumber</strong>人</p>
				</h3>
				<p>
					@Html.Raw(Model.Post.Content)
					<br /><br />
					<span>起止日期：@string.Format("{0:yyyy-MM-dd}", Model.Post.BeginDate) 至 @string.Format("{0:yyyy-MM-dd}", Model.Post.EndDate)</span><br />
					<span>地　　点：@Model.Post.Location</span><br />
					<span>联系电话：@Model.Post.Phone</span><br />
				@if (Model.Post.PostType != (int)PostType.Venue) 
				{
					<span>限定人数：@Model.Post.LimitNumber</span>
				}
				</p>
			@if (!string.IsNullOrWhiteSpace(Model.Post.Image))
			{
				<div class="detailimgbox">
					<img src='@string.Format("/upload/group/{0}/{1}{2}", Model.Post.GroupId, Model.Post.Id, Model.Post.Image)' alt="post" />
				</div>
			}
                <div style="margin-top:10px;" id="booking_table"></div>
				<div class="btnbox">
			@if (ViewBag.CurrentUserId > 0)
			{
				if (Model.Post.PostType != (int)PostType.Venue)
				{
					if (!Model.IsBooked)
					{
					<a id='@string.Format("btn_booking_{0}", Model.Post.Id)' href="javascript:;" onclick="normal_booking(@Model.Post.Id)" class="btn">预 约</a>
					}
					else
					{
					<a id='@string.Format("btn_booking_{0}", Model.Post.Id)' href="javascript:;" onclick="normal_cancel_booking(@Model.Post.Id)" class="btn-disable">取消预约</a>
					}
				}
				if (!Model.IsConcerned)
				{
					<a id='@string.Format("btn_post_{0}", Model.Post.Id)' href="javascript:;" onclick="concern_post(@Model.Post.Id)" class="btn">关 注</a>
				}
				else
				{
					<a id='@string.Format("btn_post_{0}", Model.Post.Id)' href="javascript:;" onclick="unconcern_post(@Model.Post.Id)" class="btn-disable">取消关注</a>
				}
			}
				</div>
			</div>
		</div>
	</div>
	<div class="box640-bottom"><img src="/content/images/common/box640-b.jpg" alt="boxbottom" /></div>
</div>


@section scripts
{

    <script src="@Url.Content("~/Content/js/venue-booking.js")" type="text/javascript"></script>
	<script type="text/javascript">
        var postId = @Model.Post.Id;
		var schedules = @Html.Raw(ViewBag.Schedules);
        if (schedules.length)
        {
            $('#booking_table').booking(schedules,postId);

            $('#booking_table .on, #booking_table .already').bind('click', function () {
                var _this = this;
                var method = $(_this).attr('IsBooked');
                var period_start = parseInt($(_this).parent().children('th').text().substring(0,2))
                var period = period_start + ":00-" + (period_start + parseInt($(_this).attr('rowspan'))) + ":00";
                var info = "场地信息：" + $(_this).attr('Date') + " " + period + "\n\n";
                info += (method == 'false') ? "确认预订？" : "确认取消预订？";
                var url = (method == 'false') ? '/Common/Booking' : '/Common/CancelBooking';
                if (!confirm(info))
                    return;
                else {
                    $.post(url,{'BookingDate':$(_this).attr('Date'),'VenueConfigId':$(_this).attr('VenueConfigId'),'postId':postId},function(data){
                        if(!data['Success'])
                            alert(data['Message'])
                        else if(method == 'false'){
                            $(_this).removeClass().addClass('already');
                            $(_this).text('取消预订');
                            $(_this).attr('IsBooked','true');
                        }
                        else if (method == 'true'){
                            $(_this).removeClass().addClass('on');
                            $(_this).text('预订');
                            $(_this).attr('IsBooked','false');
                        }
                    });
                }
            });

        }
	</script>
}